* {
  box-sizing:border-box;
}

body {
}

ul {
 	width:500px;
    margin:30px auto;
}

.clearfix:after {
 	content:"";
  display:table;
  clear:both;
}

li {
  width:80px;
  height:80px;
  margin:10px;
  text-align:center;
  line-height:80px;
  float:left;
  font-size:50px;
  font-weight:bold;
  font-family:'Myriad Pro', 'Helvetica Neue', 'Helvetica';
  overflow:hidden;
  text-shadow:1px 1px 0 rgba(255,255,255,0.2),-1px -1px 0 rgba(0,0,0,0.2);
  border-radius:2px;
  box-shadow:inset 0 1px 0 rgba(255,255,255,0.3), 0 2px 4px 2px rgba(0,0,0,0.5);
}

.PS {background: -webkit-linear-gradient(#4c9ef2,#034285); color:#342c2a;
 -o-linear-gradient(#4c9ef2,#034285); color:#342c2a;
 -moz-linear-gradient(#4c9ef2,#034285); color:#342c2a;}
.AI {background: -webkit-linear-gradient(#fecf5d,#e98313); color:#383838; }
.ID {background: -webkit-linear-gradient(#dfa3c4,#782d59); color:#342c2a; }
.FW {background: -webkit-linear-gradient(#f9e548,#947c32); color:#342c2a; }
.FL {background: -webkit-linear-gradient(#f3546c,#930e1b); color:#342c2a; }
.DW {background: -webkit-linear-gradient(#d6e67a,#869a24); color:#342c2a; }
.BR {background: -webkit-linear-gradient(#df763c,#863a16); color:#2d2d2d; }
.FB {background: -webkit-linear-gradient(#a3999d,#4c4a4c); color:#28201e; }
.CF {background: -webkit-linear-gradient(#a8d1e5,#265879); color:#2a2220; }
.AE {background: -webkit-linear-gradient(#b4bfd5,#454964); color:#2a2220; }

li span {
 	-webkit-text-transform:uppercase;
  -webkit-font-size:0.88em;
}