@charset "utf-8";
/* CSS Document */

<!--
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background:-webkit-radial-gradient(black 15%, transparent 16%) 0 0,
	-webkit-radial-gradient(black 15%, transparent 16%) 8px 8px,
	-webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	-webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background:-o-radial-gradient(black 15%, transparent 16%) 0 0,
	-o-radial-gradient(black 15%, transparent 16%) 8px 8px,
	-o-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	-o-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background:-moz-radial-gradient(black 15%, transparent 16%) 0 0,
	-moz-radial-gradient(black 15%, transparent 16%) 8px 8px,
	-moz-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	-moz-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;        
	margin: 2% auto;
	padding: 0;
	color: #000;
	
}

/* ~~ Селекторы элементов/тегов ~~ */
ul, ol, dl { /* Из-за различий между браузерами рекомендуется обнулять поля в списках. Для согласованности можно указать нужные величины либо здесь, либо в элементах списка (LI, DT, DD), которые они содержат. Помните, что сделанное здесь последовательно включается в список .nav, если только не будет прописан более конкретный селектор. */
	padding: 0;
	margin: 0;
}
h1{
font-size:55px;
font-famali:Geneva;
text-align:center;
text-shadow: black 1px 1px 2px, blue 0 0 60px;
color:white;

}
h2{
text-align:center;
color:#8C8C8C;
font-family:'Myriad Pro', 'Helvetica Neue', 'Helvetica';
font-size:35px;
text-shadow:black 1px 1px 2px;
}
a img { /* этот селектор убирает стандартную синюю рамку, которая появляется у изображений в некоторых браузерах, если вокруг изображения есть ссылка */
	border: none;
}
/* ~~ Оформление ссылок на вашем сайте должно оставаться в этом порядке, включая группу селекторов, создающих эффект наведения. ~~ */
a:link {
	color: #42413C;
	text-decoration: underline; /* если только ссылки не должны выглядеть исключительно своеобразно, то для быстрого зрительного распознавания рекомендуется использовать подчеркивание */
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* эта группа селекторов обеспечивает пользователю, работающему с клавиатурой, такие же возможности наведения, как и при использовании мыши. */
	text-decoration: none;
}

/* ~~ этот контейнер фиксированной ширины окружает все остальные DIV ~~ */
.container {
	width: 960px;
	background: #FFF;
	margin: 0 auto;

	border-radius: 8px;
	
}

/* ~~ верхнему колонтитулу не задана ширина. Он растянется на всю ширину макета. Он содержит заполнитель для изображения, который должен быть заменен логотипом по ссылке ~~ */
.header {
	background: #ADB96E;
	
	
}

/* ~~ Информация по макету. ~~ 

1) Поля размещены только вверху и/или внизу DIV. Элементы в этом DIV имеют боковые поля. Это избавляет пользователя от необходимости расчетов рамочной модели. Помните, что при добавлении боковых полей или границы к самому DIV их ширина будет добавлена к задаваемой ширине, что образует "полную" ширину. Кроме того, можно удалить поля элемента в DIV и поместить внутри него второй DIV без ширины и с необходимыми по проекту полями.

050505,F2F2F2,D9D9D9,8C8C8C,262626*/

.content {

	padding: 10px 0;
	
}

/* ~~ Нижний колонтитул ~~ */
.footer {
	padding: 10px 0;
	background: #CCC49F;
	border-radius: 8px;
}

/* ~~ прочие классы float/clear ~~ */
.fltrt {  /* этот класс можно использовать для обтекания элемента справа на странице. Обтекаемый элемент должен предшествовать элементу, с которым он должен находиться рядом на странице. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* этот класс можно использовать для обтекания элемента слева на странице. Обтекаемый элемент должен предшествовать элементу, с которым он должен находиться рядом на странице. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* этот класс можно поместить в теге <br /> или в пустом блоке DIV в качестве конечного элемента, следующего за последним обтекаемым DIV (внутри #container), если .#footer удален или извлечен из #container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
container {
  width: 100%;
  height: 100%;
  margin-left: -10px;
  margin-top: -10px;
  padding:0;
}
-->